@tailwind base;
@tailwind components;
@tailwind utilities;


.before::before {
    content: "";
    width:65%;
    height: 12px;
    position: absolute;
    background: #6160DC;
    border-radius: 40px;
}